<section class="wrapper">
  <h2 class="mb-2">My Heroes</h2>
  <ul class="heroes">
    <li *ngFor="let hero of heroes" class="flex">
      <button
        [class.selected]="hero === selectedHero"
        type="button"
        class="mb-2 flex bg-slate-300"
        (click)="onSelect(hero)"
      >
        <span
          class="badge bg-slate-700 rounded-l rounded-bl text-white p-2 w-10"
          >{{ hero.id }}.
        </span>
        <span
          class="name rounded-r rounded-br p-2 block w-36 hover:bg-black hover:text-white"
          >{{ hero.name }}</span
        >
      </button>
    </li>
    <app-hero-detail [hero]="selectedHero"></app-hero-detail>
  </ul>
</section>
